---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Alex Merced" description="About Alex Merced">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/pics/landscape_laptop.png"
					alt="Cartoon Alex Merced at Work"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>Alex Merced is passionate about technology, education and marketing and brings that passion to anything he does. Whether evanglizing the latest and greatest technologies, teaching others how to use them, or creating help libraries for the community Alex Merced is always keeping himself busy.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>General Assembly | Software Development Immersive | 2019</p>
					<p>Bowling Green State University | Bachelor of Arts | 2003-2007</p>
					<p>Howell Cheney Tech Regional Vocational School | High School Diploma & Microcomputer Certificate | 1999-2003</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<h5>Programming Languages</h5>
					<p>Javascript, Python, Ruby, Java, C#, GO, Rust, HTML,PHP, CSS</p>
					<h5>Data Tools</h5>
					<p>Postgres, SQL, Dremio, dbt, Superset, Tableau, Jupyter Notebook, Polars, pyArrow, Apache Iceberg, AWS Glue, AWS EMR, AWS S3</p>
					<h5>Frontend Frameworks</h5>
					<p>React, Svelte, Vue, SolidJS, Angular, jQuery</p>
					<h5>Backend Frameworks</h5>
					<p>Express, Koa, Fastify, Django, Rails, Laravel</p>
					<h5>Other Technology</h5>
					<p>OBS Studio, Docker, Markdown, Git/Github, FLStudio, LLMs</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
